body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #e4edf4;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px black;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px black;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.header .logo {
  padding: 0 4.5rem;
  background-color: #51afe1;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  line-height: 135px;
  width: 100%;
}
.header .addNewFilm {
  background-color: #6fcdff;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header .addNewFilm div.plus {
  display: inline-block;
  margin: 0 1.5rem 0 4.5rem;
  height: 38px;
  width: 38px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.header .addNewFilm div.plus span {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #6fcdff;
  line-height: 38px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  display: block;
}
.header .addNewFilm p.title {
  margin: 0;
  line-height: 135px;
  cursor: pointer;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm .add {
  position: absolute;
  left: 0;
  top: 135px;
  z-index: 0;
  width: 1170px;
  margin-left: calc((100% - 1170px)/2);
  background-color: #fff;
  padding: 0 100px 50px 100px;
  border-radius: 0 0 25px 25px;
  opacity: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}
.header .addNewFilm .add div.field {
  position: relative;
}
.header .addNewFilm .add div.field p {
  font-size: 14px;
  color: #010101;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 25px 0 15px;
  margin: 0;
}
.header .addNewFilm .add div.field input, .header .addNewFilm .add div.field textarea {
  width: 500px;
  border: 1px solid #e4edf4;
  outline: none;
  padding: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #9a9a9a;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  border-radius: 4px;
}
.header .addNewFilm .add div.field input {
  height: 50px;
}
.header .addNewFilm .add div.field textarea {
  height: 100px;
  resize: none;
  overflow-x: hidden;
}
.header .addNewFilm .add div.field textarea::-webkit-scrollbar {
  width: 5px;
}
.header .addNewFilm .add div.field textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.header .addNewFilm .add div.field textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.header .addNewFilm .add div.field span {
  position: absolute;
  color: #ff7e70;
  font-family: "Montserrat", sans-serif;
  top: 66px;
  left: 340px;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.header .addNewFilm .add div.field.valid input, .header .addNewFilm .add div.field.valid textarea {
  border: 1px solid #e4edf4;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm .add div.field.valid span {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.header .addNewFilm .add div.field.unvalid input, .header .addNewFilm .add div.field.unvalid textarea {
  border: 1px solid #ff7e70;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm .add div.field.unvalid span {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.header .addNewFilm .add .buttons a {
  display: inline-block;
  width: 140px;
  height: 40px;
  margin: 30px 20px 0 0;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm .add .buttons a.cancel {
  border: 1px solid #ff695a;
  background-color: #ff7e70;
  -webkit-box-shadow: 0px 5px 10px 0px #ff6e5d;
  box-shadow: 0px 5px 10px 0px #ff6e5d;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm .add .buttons a.cancel:hover {
  background-color: #ff1a00;
  -webkit-box-shadow: 0px 5px 10px 0px #ff1a00;
  box-shadow: 0px 5px 10px 0px #ff1a00;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm .add .buttons a.add-new {
  border: 1px solid #2fa5e1;
  background-color: #6ecdfd;
  -webkit-box-shadow: 0px 5px 10px 0px #6fcdff;
  box-shadow: 0px 5px 10px 0px #6fcdff;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm .add .buttons a.add-new:hover {
  background-color: #51afe1;
  -webkit-box-shadow: 0px 5px 10px 0px #51afe1;
  box-shadow: 0px 5px 10px 0px #51afe1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm .add .buttons a:focus {
  outline: none;
}
.header .addNewFilm.active div.plus span {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .addNewFilm.active p.title {
  color: #a9e1ff;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.header .addNewFilm.active .add {
  z-index: 2;
  opacity: 1;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}
.content.active {
  margin-top: 890px;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}
.content .film-item {
  display: block;
  margin-top: 50px;
  width: 100%;
  height: 700px;
  position: relative;
}
.content .film-item .film-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
}
.content .film-item .film-image img {
  width: 100%;
  height: auto;
  margin-top: -250px;
  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  -o-filter: blur(35px);
  -ms-filter: blur(35px);
  filter: blur(35px);
}
.content .film-item .film-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.content .film-item .film-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 80px 100px 100px 100px;
  width: 100%;
  height: 100%;
}
.content .film-item .film-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .film-item .film-content form .poster {
  margin-right: 40px;
  height: 100%;
  max-width: 310px;
  width: 310px;
  position: relative;
}
.content .film-item .film-content form .poster img {
  width: 310px;
  max-height: 442px;
  border-radius: 4px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-box-shadow: 0px 25px 65px 0px rgba(18, 19, 23, 0.5);
  box-shadow: 0px 25px 65px 0px rgba(18, 19, 23, 0.5);
}
.content .film-item .film-content form .poster textarea {
  color: #e4edf4;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 10%;
  top: 25%;
  width: 80%;
  height: 50%;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 28px;
  padding: 0 10px;
  overflow-x: hidden;
  opacity: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .poster textarea::-webkit-scrollbar {
  width: 5px;
}
.content .film-item .film-content form .poster textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  border-radius: 5px;
}
.content .film-item .film-content form .poster textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px white;
}
.content .film-item .film-content form .poster.active img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .poster.active textarea {
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .text {
  width: 100%;
}
.content .film-item .film-content form .text input, .content .film-item .film-content form .text textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  cursor: default;
}
.content .film-item .film-content form .text input.title {
  font-size: 36px;
  margin: -10px 0 10px;
  padding: 0 10px;
  width: 100%;
}
.content .film-item .film-content form .text textarea.description {
  color: #e4edf4;
  font-size: 16px;
  line-height: 28px;
  height: 115px;
  margin-bottom: 5px;
  resize: none;
  overflow-x: hidden;
  padding: 0 10px;
  width: 100%;
}
.content .film-item .film-content form .text textarea.description::-webkit-scrollbar {
  width: 5px;
}
.content .film-item .film-content form .text textarea.description::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  border-radius: 5px;
}
.content .film-item .film-content form .text textarea.description::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px white;
}
.content .film-item .film-content form .text .lables p {
  display: inline-block;
  width: 160px;
  vertical-align: top;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #e4edf4;
  margin: 10px 0 8px 10px;
}
.content .film-item .film-content form .text .lables input {
  display: inline-block;
  width: calc(100% - 170px);
  vertical-align: top;
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  color: #e4edf4;
  padding: 0 10px;
}
.content .film-item .film-content form .text .lables textarea {
  display: inline-block;
  vertical-align: top;
  margin: 8px 0 20px;
  font-weight: 700;
  font-size: 16px;
  color: #e4edf4;
  resize: none;
  height: 85px;
  overflow-x: hidden;
  line-height: 28px;
  width: calc(100% - 170px);
  padding: 0 10px;
}
.content .film-item .film-content form .text .lables textarea::-webkit-scrollbar {
  width: 5px;
}
.content .film-item .film-content form .text .lables textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  border-radius: 5px;
}
.content .film-item .film-content form .text .lables textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px white;
}
.content .film-item .film-content form .text .buttons {
  margin-left: 10px;
}
.content .film-item .film-content form .text .buttons a {
  display: inline-block;
  width: 140px;
  height: 40px;
  margin-right: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .text .buttons a.delete {
  border: 1px solid #ff695a;
  background-color: #ff7e70;
  -webkit-box-shadow: 0px 5px 10px 0px #ff6e5d;
  box-shadow: 0px 5px 10px 0px #ff6e5d;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .text .buttons a.delete:hover {
  background-color: #ff1a00;
  -webkit-box-shadow: 0px 5px 10px 0px #ff1a00;
  box-shadow: 0px 5px 10px 0px #ff1a00;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .text .buttons a.edit {
  border: 1px solid #2fa5e1;
  background-color: #6ecdfd;
  -webkit-box-shadow: 0px 5px 10px 0px #6fcdff;
  box-shadow: 0px 5px 10px 0px #6fcdff;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .text .buttons a.edit:hover {
  background-color: #51afe1;
  -webkit-box-shadow: 0px 5px 10px 0px #51afe1;
  box-shadow: 0px 5px 10px 0px #51afe1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .text .buttons a.save.active {
  border: 1px solid #4d9900;
  background-color: #66cc00;
  -webkit-box-shadow: 0px 5px 10px 0px #59b300;
  box-shadow: 0px 5px 10px 0px #59b300;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .text .buttons a.save.active:hover {
  background-color: #59b300;
  -webkit-box-shadow: 0px 5px 10px 0px #4d9900;
  box-shadow: 0px 5px 10px 0px #4d9900;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .film-content form .text .buttons a:focus {
  outline: none;
}
.content .film-item .comments {
  position: absolute;
  top: 600px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  padding: 0 100px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0 0 25px 25px;
}
.content .film-item .comments div {
  position: relative;
}
.content .film-item .comments div input {
  width: 100%;
  border: 1px solid #e4edf4;
  outline: none;
  padding: 18px;
  margin: 25px 0 20px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  border-radius: 4px;
}
.content .film-item .comments div input::-webkit-input-placeholder {
  color: #9a9a9a;
}
.content .film-item .comments div input::-moz-placeholder {
  color: #9a9a9a;
}
.content .film-item .comments div input:-ms-input-placeholder {
  color: #9a9a9a;
}
.content .film-item .comments div input:-moz-placeholder {
  color: #9a9a9a;
}
.content .film-item .comments div span {
  position: absolute;
  color: #ff7e70;
  font-family: "Montserrat", sans-serif;
  top: 30px;
  right: 7px;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.content .film-item .comments div.valid input {
  border: 1px solid #e4edf4;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .comments div.valid span {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.content .film-item .comments div.unvalid input {
  border: 1px solid #ff7e70;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .comments div.unvalid span {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .4s;
  transition: opacity ease-in-out .4s;
}
.content .film-item .comments a.add-com {
  display: block;
  width: 140px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  border: 1px solid #2fa5e1;
  background-color: #6ecdfd;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
  border-radius: 20px;
  text-decoration: none;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-box-shadow: 0px 5px 10px 0px #6fcdff;
  box-shadow: 0px 5px 10px 0px #6fcdff;
}
.content .film-item .comments a.add-com:hover {
  background-color: #51afe1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-box-shadow: 0px 5px 10px 0px #51afe1;
  box-shadow: 0px 5px 10px 0px #51afe1;
}
.content .film-item .comments p {
  border-bottom: 2px solid transparent;
  margin: 0;
  padding: 30px 0;
}
.content .film-item .comments p.amount {
  color: #ff7e70;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
  cursor: pointer;
}
.content .film-item .comments p.amount i {
  color: #ff7e70;
  margin-left: 10px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.content .film-item .comments p.comment {
  color: #000;
  font-family: "Montserrat", sans-serif;
}
.content .film-item .comments.active {
  height: auto;
  overflow: visible;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .film-item .comments.active p {
  border-bottom: 2px solid #e4edf4;
  margin: 0;
  padding: 30px 0;
}
.content .film-item .comments.active p.amount {
  line-height: 30px;
}
.content .film-item .comments.active p.amount i {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.content .film-item.active .film-content form .text input, .content .film-item.active .film-content form .text textarea {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

#myModal {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
#myModal img {
  border-radius: 4px;
  width: 310px;
  -webkit-box-shadow: 0px 25px 65px 0px rgba(18, 19, 23, 0.5);
  box-shadow: 0px 25px 65px 0px rgba(18, 19, 23, 0.5);
}
#myModal .modal-header, #myModal .modal-footer {
  border: none;
}
#myModal .buttons {
  text-align: center;
}
#myModal .buttons a {
  display: inline-block;
  width: 140px;
  height: 40px;
  margin: 0 10px 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#myModal .buttons a.delete {
  border: 1px solid #ff695a;
  background-color: #ff7e70;
  -webkit-box-shadow: 0px 5px 10px 0px #ff6e5d;
  box-shadow: 0px 5px 10px 0px #ff6e5d;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#myModal .buttons a.delete:hover {
  background-color: #ff1a00;
  -webkit-box-shadow: 0px 5px 10px 0px #ff1a00;
  box-shadow: 0px 5px 10px 0px #ff1a00;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#myModal .buttons a.cancel {
  border: 1px solid #4d9900;
  background-color: #66cc00;
  -webkit-box-shadow: 0px 5px 10px 0px #59b300;
  box-shadow: 0px 5px 10px 0px #59b300;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#myModal .buttons a.cancel:hover {
  background-color: #59b300;
  -webkit-box-shadow: 0px 5px 10px 0px #4d9900;
  box-shadow: 0px 5px 10px 0px #4d9900;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
#myModal .buttons a:focus {
  outline: none;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6fcdff;
  z-index: 2;
  opacity: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
  visibility: visible;
}
.preloader .loader {
  position: relative;
  width: 75px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.preloader .loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.preloader .loader__bar:nth-child(1) {
  left: 0px;
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
          animation: barUp1 4s infinite;
}
.preloader .loader__bar:nth-child(2) {
  left: 15px;
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
          animation: barUp2 4s infinite;
}
.preloader .loader__bar:nth-child(3) {
  left: 30px;
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
          animation: barUp3 4s infinite;
}
.preloader .loader__bar:nth-child(4) {
  left: 45px;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
          animation: barUp4 4s infinite;
}
.preloader .loader__bar:nth-child(5) {
  left: 60px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
          animation: barUp5 4s infinite;
}
.preloader .loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: ball 4s infinite;
          animation: ball 4s infinite;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
@-webkit-keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@-webkit-keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@-webkit-keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@-webkit-keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@-webkit-keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
