@media screen and (min-width: 1900px) {
  .content {
    margin-left: 365px;
  }

  .header {
    height: 135px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .logo {
    width: 365px;
    padding: 0 7rem;
  }
  .header .addNewFilm {
    width: auto;
  }
  .header .addNewFilm div.plus {
    margin: 0 1.5rem 0 10rem;
  }
  .header .addNewFilm .add {
    margin-left: 0;
  }
}
