$fontFamily-headerLogo: 'Montserrat', sans-serif;
$fontFamily-headerNewFilm: 'Open Sans', sans-serif;

$fontColor-main: #fff;
$bgColor-headerLogo: #51afe1;
$bgColor-headerNewFilm: #6fcdff;
$bgBodyColor: #e4edf4;
$red-color: #ff7e70;
$inputTextColor: #9a9a9a;



@mixin scrollBar($color) {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $color;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px $color;
    }
}


@mixin Button($class, $borderColor, $backgroundColor, $shadowColor, $backgroundColorHover, $shadowColorHover){
    &.#{$class}{
        border: 1px solid $borderColor;
        background-color: $backgroundColor;
        -webkit-box-shadow: 0px 5px 10px 0px $shadowColor;
        -moz-box-shadow: 0px 5px 10px 0px $shadowColor;
        box-shadow: 0px 5px 10px 0px $shadowColor;
        transition: all ease-in-out .4s;

        &:hover{
            background-color: $backgroundColorHover;
            -webkit-box-shadow: 0px 5px 10px 0px $shadowColorHover;
            -moz-box-shadow: 0px 5px 10px 0px $shadowColorHover;
            box-shadow: 0px 5px 10px 0px $shadowColorHover;
            transition: all ease-in-out .4s;
        }
    }
}

@mixin Blur($blur){
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
}

@mixin boxShadow($horizontal, $vertical, $blur, $spread, $color){
    -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
    -moz-box-shadow: $horizontal $vertical $blur $spread $color;
    box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin placeholder($color){
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
}