@import 'variables';

body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: $fontColor-main;
    background-color: $bgBodyColor;
    @include scrollBar(rgba(0,0,0,1));
}
.header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;

    .logo{
        padding: 0 4.5rem;
        background-color: $bgColor-headerLogo;
        font-size: 36px;
        font-family: $fontFamily-headerLogo;
        height: 100%;
        line-height: 135px;
        width: 100%;
    }

    .addNewFilm{
        background-color: $bgColor-headerNewFilm;
        height: 100%;
        font-family: $fontFamily-headerNewFilm;
        font-weight: 700;
        flex-grow: 2;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        div.plus{
            display: inline-block;
            margin: 0 1.5rem 0 4.5rem;
            height: 38px;
            width: 38px;
            background-color: $fontColor-main;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;

            span{
                font-size: 24px;
                font-family: $fontFamily-headerNewFilm;
                font-weight: 700;
                color: $bgColor-headerNewFilm;
                line-height: 38px;
                transition: all ease-in-out .4s;
                display: block;
            }
        }
        p.title{
            margin: 0;
            line-height: 135px;
            cursor: pointer;
            transition: all ease-in-out .4s;
        }
        .add{
            position: absolute;
            left: 0;
            top: 135px;
            z-index: 0;
            width: 1170px;
            margin-left: calc((100% - 1170px)/2);
            background-color: $fontColor-main;
            padding: 0 100px 50px 100px;
            border-radius: 0 0 25px 25px;
            opacity: 0;
            transition: all ease-in-out 1s;

            div.field{
                position: relative;
                p{
                    font-size: 14px;
                    color: #010101;
                    font-family: $fontFamily-headerLogo;
                    text-transform: uppercase;
                    padding: 25px 0 15px;
                    margin: 0;
                }
                input, textarea{
                    width: 500px;
                    border: 1px solid $bgBodyColor;
                    outline: none;
                    padding: 14px;
                    font-family: $fontFamily-headerLogo;
                    font-size: 14px;
                    line-height: 28px;
                    color: $inputTextColor;
                    transition: all ease-in-out .4s;
                    border-radius: 4px;
                }
                input{
                    height: 50px;
                }
                textarea{
                    height: 100px;
                    resize: none;
                    overflow-x: hidden;
                    @include scrollBar(rgba(0,0,0,.3));

                }
                span{
                    position: absolute;
                    color: $red-color;
                    font-family: $fontFamily-headerLogo;
                    top: 66px;
                    left: 340px;
                    font-size: 12px;
                    opacity: 0;
                    transition: opacity ease-in-out .4s;
                }
                &.valid{
                    input, textarea{
                        border: 1px solid $bgBodyColor;
                        transition: all ease-in-out .4s;
                    }
                    span{
                        opacity: 0;
                        transition: opacity ease-in-out .4s;
                    }
                }
                &.unvalid{
                    input, textarea{
                        border: 1px solid $red-color;
                        transition: all ease-in-out .4s;
                    }
                    span{
                        opacity: 1;
                        transition: opacity ease-in-out .4s;
                    }
                }
            }

            .buttons{

                a{
                    display: inline-block;
                    width: 140px;
                    height: 40px;
                    margin:30px 20px 0 0;
                    color: $fontColor-main;
                    line-height: 40px;
                    text-align: center;
                    font-size: 14px;
                    font-family: $fontFamily-headerNewFilm;
                    font-weight: 700;
                    border-radius: 20px;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: all ease-in-out .4s;

                    @include Button(cancel, #ff695a, $red-color, rgba(255,110,93,1), #ff1a00, rgba(255,26,0,1));
                    @include Button(add-new, #2fa5e1, #6ecdfd, rgba(111,205,255,1), $bgColor-headerLogo, rgba(81,175,225,1));

                    &:focus{
                        outline: none;
                    }
                }
            }
        }

        &.active{
            div.plus span{
                transition: all ease-in-out .4s;
                transform: rotate(45deg);
            }
            p.title{
                color: #a9e1ff;
                transition: all ease-in-out .4s;
            }
            .add{
                z-index: 2;
                opacity: 1;
                transition: all ease-in-out 1s;
            }
        }
    }
}
.content{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    transition: all ease-in-out 1s;

    &.active{
        margin-top: 890px;
        transition: all ease-in-out 1s;
    }

    .film-item{
        display: block;
        margin-top: 50px;
        width: 100%;
        height: 700px;
        position: relative;

        .film-image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 25px;

            img{
                width: 100%;
                height: auto;
                margin-top: -250px;
                @include Blur(35px);

            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .4);
            }
        }

        .film-content{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            padding: 80px 100px 100px 100px;
            width: 100%;
            height: 100%;

            form{
                display: flex;

                .poster{
                    margin-right: 40px;
                    height: 100%;
                    max-width: 310px;
                    width: 310px;
                    position: relative;

                    img{
                        width: 310px;
                        max-height: 442px;
                        border-radius: 4px;
                        transition: all ease-in-out .4s;
                        @include boxShadow(0px, 25px, 65px, 0px, rgba(18,19,23,0.5));
                    }

                    textarea{
                        color: $bgBodyColor;
                        background-color: rgba(0,0,0,.5);
                        position: absolute;
                        left: 10%;
                        top: 25%;
                        width: 80%;
                        height: 50%;
                        resize: none;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        line-height: 28px;
                        padding: 0 10px;
                        overflow-x: hidden;
                        opacity: 0;
                        transition: all ease-in-out .4s;
                        @include scrollBar(rgba(255,255,255,1));

                    }

                    &.active{
                        img{
                            @include Blur(5px);
                            transition: all ease-in-out .4s;
                        }
                        textarea{
                            opacity: 1;
                            transition: all ease-in-out .4s;
                        }
                    }
                }

                .text{
                    width: 100%;

                    input, textarea{
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: $fontColor-main;
                        font-family: $fontFamily-headerLogo;
                        transition: all ease-in-out .4s;
                        cursor: default;
                    }
                    input{
                        &.title{
                            font-size: 36px;
                            margin: -10px 0 10px;
                            padding: 0 10px;
                            width: 100%;
                        }
                    }
                    textarea{
                        &.description{
                            color: $bgBodyColor;
                            font-size: 16px;
                            line-height: 28px;
                            height: 115px;
                            margin-bottom: 5px;
                            resize: none;
                            overflow-x: hidden;
                            padding: 0 10px;
                            width: 100%;
                            @include scrollBar(rgba(255,255,255,1));
                        }
                    }

                    .lables{
                        p{
                            display: inline-block;
                            width: 160px;
                            vertical-align: top;
                            text-transform: uppercase;
                            font-family: $fontFamily-headerLogo;
                            font-size: 12px;
                            color: $bgBodyColor;
                            margin: 10px 0 8px 10px;
                        }
                        input{
                            display: inline-block;
                            width: calc(100% - 170px);
                            vertical-align: top;
                            margin-top: 8px;
                            font-weight: 700;
                            font-size: 16px;
                            color: $bgBodyColor;
                            padding: 0 10px;
                        }
                        textarea{
                            display: inline-block;
                            vertical-align: top;
                            margin: 8px 0 20px;
                            font-weight: 700;
                            font-size: 16px;
                            color: $bgBodyColor;
                            resize: none;
                            height: 85px;
                            overflow-x: hidden;
                            line-height: 28px;
                            width: calc(100% - 170px);
                            padding: 0 10px;
                            @include scrollBar(rgba(255,255,255,1));
                        }
                    }
                    .buttons{
                        margin-left: 10px;

                        a{
                            display: inline-block;
                            width: 140px;
                            height: 40px;
                            margin-right: 20px;
                            color: $fontColor-main;
                            line-height: 40px;
                            text-align: center;
                            font-size: 14px;
                            font-family: $fontFamily-headerNewFilm;
                            font-weight: 700;
                            border-radius: 20px;
                            text-decoration: none;
                            text-transform: capitalize;
                            transition: all ease-in-out .4s;

                            @include Button(delete, #ff695a, $red-color, rgba(255,110,93,1), #ff1a00, rgba(255,26,0,1));
                            @include Button(edit, #2fa5e1, #6ecdfd, rgba(111,205,255,1), $bgColor-headerLogo, rgba(81,175,225,1));
                            @include Button('save.active', #4d9900, #66cc00, rgba(89,179,0,1), #59b300, rgba(77,153,0,1));

                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
        }

        .comments{
            position: absolute;
            top: 600px;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100px;
            padding: 0 100px;
            background-color: $fontColor-main;
            overflow: hidden;
            border-radius: 0 0 25px 25px;

            div{
                position: relative;

                input{
                    width: 100%;
                    border: 1px solid $bgBodyColor;
                    outline: none;
                    padding: 18px;
                    margin: 25px 0 20px;
                    color: #000;
                    font-family: $fontFamily-headerLogo;
                    font-size: 16px;
                    transition: all ease-in-out .4s;
                    border-radius: 4px;
                    @include placeholder($inputTextColor);
                }

                span{
                    position: absolute;
                    color: $red-color;
                    font-family: $fontFamily-headerLogo;
                    top: 30px;
                    right: 7px;
                    font-size: 14px;
                    opacity: 0;
                    transition: opacity ease-in-out .4s;
                }

                &.valid{
                    input{
                        border: 1px solid $bgBodyColor;
                        transition: all ease-in-out .4s;
                    }
                    span{
                        opacity: 0;
                        transition: opacity ease-in-out .4s;
                    }
                }
                &.unvalid{
                    input{
                        border: 1px solid $red-color;
                        transition: all ease-in-out .4s;
                    }
                    span{
                        opacity: 1;
                        transition: opacity ease-in-out .4s;
                    }
                }
            }

            a.add-com{
                display: block;
                width: 140px;
                height: 40px;
                color: $fontColor-main;
                line-height: 40px;
                text-align: center;
                border: 1px solid #2fa5e1;
                background-color: #6ecdfd;
                font-size: 14px;
                font-family: $fontFamily-headerNewFilm;
                font-weight: 700;
                margin-bottom: 50px;
                border-radius: 20px;
                text-decoration: none;
                transition: all ease-in-out .4s;
                @include boxShadow(0px, 5px, 10px, 0px, rgba(111,205,255,1));

                &:hover{
                    background-color: $bgColor-headerLogo;
                    transition: all ease-in-out .4s;
                    @include boxShadow(0px, 5px, 10px, 0px, rgba(81,175,225,1));
                }
            }

            p{
                border-bottom: 2px solid transparent;
                margin: 0;
                padding: 30px 0;

                &.amount{
                    color: $red-color;
                    font-family: $fontFamily-headerNewFilm;
                    font-weight: 700;
                    letter-spacing: 1px;
                    line-height: 40px;
                    cursor: pointer;

                    i{
                        color: $red-color;
                        margin-left: 10px;
                        transform: rotateX(180deg);
                        transition: all ease-in-out 0.4s;
                    }
                }

                &.comment{
                    color: #000;
                    font-family: $fontFamily-headerLogo;
                }
            }
            &.active{
                height: auto;
                overflow: visible;
                transition: all ease-in-out .4s;

                p{
                    border-bottom: 2px solid $bgBodyColor;
                    margin: 0;
                    padding: 30px 0;

                    &.amount{
                        line-height: 30px;

                        i{
                            transform: rotateX(0deg);
                            transition: all ease-in-out 0.4s;
                        }
                    }
                }
            }
        }
        &.active .film-content form .text{
            input, textarea{
                background-color: rgba(255,255,255,0.5);
                transition: all ease-in-out .4s;
            }
        }
    }
}

#myModal{
    color: #000;
    text-align: center;
    font-family: $fontFamily-headerLogo;
    font-size: 18px;

    img{
        border-radius: 4px;
        width: 310px;
        @include boxShadow(0px, 25px, 65px, 0px, rgba(18, 19, 23, 0.5));
    }
    .modal-header, .modal-footer{
        border: none;
    }
    .buttons{
            text-align: center;

            a{
                display: inline-block;
                width: 140px;
                height: 40px;
                margin: 0 10px 20px;
                color: $fontColor-main;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                font-family: $fontFamily-headerNewFilm;
                font-weight: 700;
                border-radius: 20px;
                text-decoration: none;
                text-transform: capitalize;
                transition: all ease-in-out .4s;

                @include Button(delete, #ff695a, $red-color, rgba(255,110,93,1), #ff1a00, rgba(255,26,0,1));
                @include Button(cancel, #4d9900, #66cc00, rgba(89,179,0,1), #59b300, rgba(77,153,0,1));

                &:focus{
                    outline: none;
                }
            }
        }
}


.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(111, 205, 255);
    z-index: 2;
    opacity: 1;
    transition: 1s all;
    visibility: visible;

    .loader{
        position: relative;
        width: 75px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__bar {
        position: absolute;
        bottom: 0;
        width: 10px;
        height: 50%;
        background: #fff;
        transform-origin: center bottom;
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);

            @for $i from 1 through 5 {
               &:nth-child(#{$i}) {
                 left: ($i - 1) * 15px;
                 transform: scale(1,$i*.2);
                 animation: barUp#{$i} 4s infinite;
                }
            }
        }
        &__ball {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: 50%;
            animation: ball 4s infinite;
        }
    }

    &.done{
        opacity: 0;
        visibility: hidden;
    }
    @keyframes ball {
            0% {
                transform: translate(0, 0);
            }
            5% {
                transform: translate(8px, -14px);
            }
            10% {
                transform: translate(15px, -10px)
            }
            17% {
                transform: translate(23px, -24px)
            }
            20% {
                transform: translate(30px, -20px)
            }
            27% {
                transform: translate(38px, -34px)
            }
            30% {
                transform: translate(45px, -30px)
            }
            37% {
                transform: translate(53px, -44px)
            }
            40% {
                transform: translate(60px, -40px)
            }
            50% {
                transform: translate(60px, 0)
            }
            57% {
                transform: translate(53px, -14px)
            }
            60% {
                transform: translate(45px, -10px)
            }
            67% {
                transform: translate(37px, -24px)
            }
            70% {
                transform: translate(30px, -20px)
            }
            77% {
                transform: translate(22px, -34px)
            }
            80% {
                transform: translate(15px, -30px)
            }
            87% {
                transform: translate(7px, -44px)
            }
            90% {
                transform: translate(0, -40px)
            }
            100% {
                transform: translate(0, 0);
            }
    }

    @keyframes barUp1 {
        0% {
            transform: scale(1, .2);
        }
        40%{
            transform: scale(1, .2);
        }
        50% {
            transform: scale(1, 1);
        }
        90% {
            transform: scale(1,1);
        }
        100% {
            transform: scale(1,.2);
        }
    }
    @keyframes barUp2 {
        0% {
            transform: scale(1, .4);
        }
        40% {
            transform: scale(1, .4);
        }
        50% {
            transform: scale(1, .8);
        }
        90% {
            transform: scale(1, .8);
        }
        100% {
            transform: scale(1, .4);
        }
    }
    @keyframes barUp3 {
        0% {
            transform: scale(1, .6);
        }
        100% {
            transform: scale(1, .6);
        }
    }
    @keyframes barUp4 {
        0% {
            transform: scale(1, .8);
        }
        40% {
            transform: scale(1, .8);
        }
        50% {
            transform: scale(1, .4);
        }
        90% {
            transform: scale(1, .4);
        }
        100% {
            transform: scale(1, .8);
        }
    }
    @keyframes barUp5 {
        0% {
            transform: scale(1, 1);
        }
        40% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(1, .2);
        }
        90% {
            transform: scale(1, .2);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}

