@media screen and (min-width: 1900px){
    .content{
        margin-left: 365px;
    }
    .header{
        height: 135px;
        flex-direction: row;

        .logo{
            width: 365px;
            padding: 0 7rem;
        }

        .addNewFilm{
            width: auto;

            div.plus{
                margin: 0 1.5rem 0 10rem;
            }
            .add{
                margin-left: 0;
            }
        }
    }
}

